[Unit]
Description=NodeJS JSON LD Validation

[Service]
ExecStart=/usr/bin/node /var/jsonld-ucar-isti/src/back/web.js --debug
Restart=always
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=NODE_WWW=/var/www
Environment=NODE_CERT=/etc/letsencrypt/live/js-17-39.jetstream-cloud.org/fullchain.pem
Environment=NODE_KEY=/etc/letsencrypt/live/js-17-39.jetstream-cloud.org/privkey.pem
Environment=PORT=443

WorkingDirectory=/var/jsonld-ucar-isti

[Install]
WantedBy=multi-user.target